<h1>Edit Your Profile</h1>
<form action="/profile/ <%= user._id %> /edit"  method="POST" enctype="multipart/form-data">
  <% console.log("this is userimage",user.profileImage) %>
  <img src="/uploads/<%= user.profileImage %>" alt="Profile image" />
  <input type="file" name="image" id="image" accept="image/*" />
  <label for="Username">Username:</label>
  <input type="text" name="username" id="Username" value="<%= user.username %>">

  <br>

  <label for="Age">Age:</label>
  <input type="number" name="age" value="<%= user.age %>">

  <br>

  <label for="Nationality">Nationality:</label>
  <input type="text" name="nationality" id="Nationality" value="<%= user.nationality %>">

  <br>

  <label for="Gender">Gender</label>
  <input type="text" name="gender" id="Gender" value="<%= user.gender %>">

  <br>

  <button type="submit">Update</button>
</form>