<body>
  <%- include('../partials/_navbar.ejs') %>

  <h1>A Trip in <%= post.country %>, <%= post.city %></h1>

  <h2>Details</h2>
  <p>Price: $ <%= post.price %></p>
  <p>Duration: <%= post.duration %></p>

  <h2>User details:</h2>

  <p>Username: <%= post.owner.username %></p>
  <p>Age: <%= post.owner.age %></p>
  <p>Nationality: <%= post.owner.nationality %></p>

  <% if(post.owner._id.equals(user._id)){ %>
  <a href="/posts/<%= post._id %>/edit">Edit this post</a>
  <form action="/posts/<%= post._id %>?_method=DELETE" method="post">
    <button type="submit">Delete this post</button>
  </form>
  <% } %>
  <h1>Add A Comment</h1>
  <form action="/comment/<%= post._id %>/comments" method="POST">
    <textarea name="comment" id="comment"></textarea>
    <input type="hidden" name="postId" value="<%=post._id%>" />
    <input type="submit" value="add comment" />
  </form>
  <ul>
    <% comments.forEach(comment => { %>
    <li><%= comment.comment %> <%= comment.owner.username %></li>

    <% if(post.owner._id.equals(user._id)){ %>
    <a href="/comment/<%= comment._id %>/edit">Edit this comment</a>

    <form action="/comment/<%= comment._id %>?_method=DELETE" method="post">
      <button type="submit">Delete this comment</button>
    </form>
    <% } %> <% }) %>
  </ul>
  <h2>Likes</h2>
  <p>Liked by <%= post.likedByUsers.length %> People</p>
  <% if (userHasLiked){%>
  <p>You have liked this post!</p>
  <form
    action="/posts/<%= post._id %>/liked-by/<%= user._id %>?_method=DELETE"
    method="post"
  >
    <button>Remove Like</button>
  </form>
  <%} else {%> You haven't liked this post.

  <form action="/posts/<%= post._id %>/liked-by/<%= user._id %>" method="post">
    <button type="submit">Like this post!</button>
  </form>
  <% } %>
</body>
